[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
starlette = {extras = ["all"], version = "*"}
jinja2 = "*"
uvicorn = "*"
aiohttp = "*"
pymongo = {extras = ["srv"], version = "*"}
gunicorn = "*"

[requires]
python_version = "3.8"

[scripts]
server = "python run.py"
