[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
starlette = {extras = ["full"], version = "*"}
jinja2 = "*"
uvicorn = "*"
gunicorn = "*"
aiohttp = "*"
pymongo = {extras = ["srv"], version = "*"}

[requires]
python_version = "3.8"

[scripts]
server = "python run.py"
