appdirs==1.4.4
asgiref==3.2.10
autopep8==1.5.3
certifi==2020.6.20
chardet==3.0.4
distlib==0.3.1
Django==3.0.8
djangorestframework==3.11.0
filelock==3.0.12
flake8==3.8.3
idna==2.10
jedi==0.17.2
parso==0.7.1
Pillow==7.2.0
pipenv==2020.8.13
pluggy==0.13.1
pycodestyle==2.6.0
pydocstyle==5.0.2
pyflakes==2.2.0
python-jsonrpc-server==0.3.4
python-language-server==0.34.1
pytz==2020.1
six==1.15.0
snowballstemmer==2.0.0
sqlparse==0.3.1
toml==0.10.1
virtualenv==20.0.31
virtualenv-clone==0.5.4
yapf==0.30.0
