{%extends "base.html"%}
{%block content%}
{%include "pages/alert.html"%}
   <section class="display" id="home">
      <div class="display__text">
         <h1 class="display__text-header h1">
            welcome to lionheart <br> <span>we care, we serve </span>
         </h1>
         <a href="/register" class="display__link">Register Now</a>
      </div>
   </section>
   <section class="about" id="about">
  <div class="about__box">
   <h1 class="about__header h1">
      Some facts about Us
   </h1>
 <div class="about__text">
  <p>
   Lionheart Services Is a Platform For Different Kinds Of Services. 
   Employ And Apply For Online or Offline Jobs, Join Our Sport Clubs E.g  Taekwondo, Football and Swimming. 
   We Are Lions We Will Go The Extra Mile To Make You Happy , We Care , We Serve.
  </p>
 </div>
  </div>
   </section>

   <section id="service">
      <h1 class="service__title h1">Our services</h1>
      <div class="service">
      <div class="service__box">
         <img src="../../static/image/andrej-lisakov-V2OyJtFqEtY-unsplash.jpg" alt="" srcset="" class="service__img">
           <h3 class="service__header h2">Sport Academy</h3>
           <p class="service__content">
            Be The Best Version  Of Yourself. Engage  Yourself in a physical exercise that will help you master yourself.
            Learn martial arts  Taekwondo and kickboxing  .
            Self decipline, self esteem, self love, self mastery,  and courage are one of the things you and  your kids will take away from martial arts
           </p>
      </div>
      <div class="service__box">
         <img src="../../static/image/headway-5QgIuuBxKwM-unsplash.jpg" alt="" srcset="" class="service__img">
         <h3 class="service__header h2">Job Empowerment</h3>
         <p class="service__content">
            Are You In Need Of  Qualified And  Competent Staffs.
             We Are Specialized Connecting Staffs To Companies And Schools.<br>
             Taekwondo instructor, Teachers, Sport, Instructor, Gate Keeper, Receptionist, Company Staffs and lot more .
            </p> 
    </div>
    <div class="service__box">
      <img src="../../static/image/joanna-kosinska-1_CMoFsPfso-unsplash.jpg" alt="" srcset="" class="service__img">
      <h3 class="service__header h2">Home services</h3>
      <p class="service__content">
         Make Your House Work Easier, employ From The Comfort Of Your home.<br>
         Private Teachers, House Helps, Taekwondo Instructor,  Sport Instructor, Gate Keepers and lot more.
      </p>
      
      
 </div>
 
</div>
   </section>

   <section id="contact" class="contact">
      <div >
         <h1 class="service__title h1">Contact Us</h1>
         <form action="/contact" method="post" autocomplete="off" class="contact__form">
            <input type="text" placeholder="Enter your name" name="name" class="contact__input" autocomplete="off" required>
            <input type="email" placeholder="Enter your email" name="email" class="contact__input" required>
            <input type="tel" placeholder="Enter your phone number" name="phone" class="contact__input" required>
            <textarea name="message" id="message" cols="30" rows="10" placeholder="Enter your messaage" class="contact__input"></textarea>
            <button type="submit" class="btn contact__btn">message</button>
         </form>
      </div>
   </section>
{%endblock%}
