<footer class="footer">
    
  <div class="footer__box">
    <div>  
        <h2 class="h2 footer__header">Our social media</h2>
        <ul class="footer__social">
        <li><a target="_blank" href="https://wa.link/rfj1if"><i class='bx bxl-whatsapp'></i></a></li>
        <li><a target="_blank" href="https://facebook.com/lionheart"><i class='bx bxl-facebook' ></i></a></li>
        <li><a target="_blank" href="https://instagram.com/Lionheart _Empire( LE)"><i class='bx bxl-instagram' ></i></a></li>
        
    </ul>
    </div>
       <div class="footer__contact">
        <h2 class="h2 footer__header">Contact us now</h2>
           <div class="footer__detail">
            <p>Phone:<b> 08169278867</b></p>
            <p>Address:<b> No 24, balle street okerakere Ajah, Lagos.</b></p>
            <p>Location:<b> <a target="_blank" href="https://goo.gl/maps/HvHJypVNFYekMLGPA" >find us on map</a></b></p>
           </div>
       </div>
  </div>
    <p class="footer__copyright">All Right Reserved <b>lionheartservice</b> Copyright &copy; 2020</p>
    <div class="creator">
      <p class="creator_name">
        <span>Created by <span>kokoserver inc</span> </span><a href="https://wa.link/6q8cmu" class="creator__link"><i class='bx bxl-whatsapp'></i></a>
      </p>
     
    </div>
</footer>
