<header id="header">
    <nav class="nav">
       <div class="logo">
        <a href="/" class="nav__brand">lionheart</a>
       </div>
        <div class="nav__menu">
            <ul class="nav__list">
               <li class="nav__item"><a href="/#home" class="nav__link">Home</a></li>
               <li class="nav__item"><a href="/#about"class="nav__link">about</a></li>
               <li class="nav__item"><a href="/#service"class="nav__link">services</a></li>
               <li class="nav__item"><a href="/register" class="nav__link">register</a></li>
               <li class="nav__item"><a href="/#contact" class="nav__link">contact</a></li>
               
            </ul>
        </div>
        <div class="nav__toggler" id="toggler">
            <span><i class='bx bx-menu'></i></span>
        </div>
    </nav>
</header>